*{
    margin: 0;
    padding: 0;
}

#navBar{
    background-color: #0f1111;
    height: 60px;
}

a{
    color: white;
    margin-right: 190px;
}

button{
    background-color: #f08804;
    color: white;
}

#logo{
    text-decoration: none;
    color: #f08804; font-size: 25px;
}
